
<!-- <div *ngIf="showCallingBox" class="accept">
  <button class="btn btn-success" (click)="acceptCall()">Accept</button>
  <button class="btn btn-danger" (click)="rejectCall()">Reject</button>
</div> -->

<div class="main">
    <div class="main__left">

        <div class="main__videos">

            <div id="video-grid" #hardwareVideo>
              <video #myVideo></video>
              <video #otherUserVideo></video>
            </div>

        </div>
        <div class="main__controls">
            <div class="main__controls__block">
              <div (click)="playStop()"
              class="main__controls__button main__video__button">
                  <div class="main__matIcon__button" *ngIf="!videoCallService.myVideoOff; else videoOff">
                    <mat-icon>videocam</mat-icon>
                    <span>Stop Video</span>
                  </div>

                  <ng-template #videoOff>
                    <mat-icon class="stop">videocam_off</mat-icon>
                    <span>Play Video</span>
                  </ng-template>
              </div>

              <div (click)="muteUnmute()"
              class="main__controls__button main__mute__button">

                    <div class="main__matIcon__button" *ngIf="!videoCallService.myMicMute; else micOff">
                      <mat-icon>mic</mat-icon>
                      <span>Mute</span>
                    </div>

                    <ng-template #micOff>
                      <mat-icon class="unmute">mic_off</mat-icon>
                      <span>Unmute</span>
                    </ng-template>
              </div>
            </div>
            <div class="main__controls__block">

                <!-- <div class="main__controls__button">
                    <i class="fas fa-user-friends"></i>
                    <span>Participants</span>
                </div> -->

                <div (click)="recordScreen()"
                class="main__controls__button">
                    <div class="main__matIcon__button"
                    *ngIf="!videoCallService.startRecording; else startRecording">
                      <mat-icon>play_circle_filled</mat-icon>
                      <span>Start Recording</span>
                    </div>

                    <ng-template #startRecording>
                      <mat-icon class="recordScreen">pause_circle_filled</mat-icon>
                      <span>Stop Recording</span>
                    </ng-template>
                </div>

                <div (click)="snapShot()"
                class="main__controls__button">
                        <mat-icon>camera</mat-icon>
                        <span>Snapshot</span>
                </div>

                <div (click)="screen_share()"
                class="main__controls__button">

                  <div class="main__matIcon__button"
                  *ngIf="!videoCallService.myScreenShare; else screenShareOn">
                    <mat-icon>stop_screen_share</mat-icon>
                    <span>Screen Share</span>
                  </div>

                    <ng-template #screenShareOn>
                      <mat-icon class="shareScreen">screen_share</mat-icon>
                      <span>Stop Share</span>
                    </ng-template>
                </div>
                <!-- <div class="main__controls__button">
                    <mat-icon>chat</mat-icon>

                    <span>Chat</span>
                </div> -->
            </div>
            <div class="main__controls__block">
                <div (click)="leaveMeeting()" class="main__controls__button">
                    <!-- <mat-icon>exit_to_app</mat-icon> -->
                    <span class="leave_meeting">Leave Meeting</span>
                </div>
            </div>
        </div>
    </div>

    <div class="main__right">

      <div class="main__header">
        <h4>My peer id:</h4>
        <h5>{{mypeerId}}</h5>

        <mat-form-field appearance="outline">
          <mat-label>Join other room</mat-label>
          <input matInput placeholder="Enter room id..." [(ngModel)]="authorId">
          <mat-icon matSuffix>room</mat-icon>
          <mat-hint>E.g:9435de...</mat-hint>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="connect()">Connect</button> <br>
        <!-- <button mat-raised-button color="primary" (click)="videoConnect()">videoConnect</button> -->

      </div>
        <!-- <div class="main__header">
            <h6>Chat</h6>
        </div>-->
        <div class="main__chat__window">
            <ul class="messages">

            </ul>
        </div>
        <div class="main__message__container">
            <div class="w3-black record-bar w3-padding w3-round-large">
              <div id="status" class="w3-text-red" style="margin-bottom: 10px; display: none;"></div>
              <button mat-fab color="primary" style="display:none;" id="download_link" (click)="download()">
                <mat-icon>get_app</mat-icon>
              </button>
            </div>
        </div>
    </div>
</div>


<div id="download" style="display: none;">
  <canvas #canvas id="canvas" width="1024" height="768">canvas</canvas>
  <!-- <img #canvas> -->
  <a #downloadLink></a>
</div>

<button  style="display: none;" type="button" id="modalopen" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false"
 tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Incomming call</h2>
        <button type="button" class="close" id="closeCallModal" data-dismiss="modal" style="display: none;"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <div *ngIf="showCallingBox" class="accept">
          <button class="btn btn-success" (click)="acceptCall()">Accept</button>
          <button class="btn btn-danger" (click)="rejectCall()">Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>



